rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // 사이트 데이터 (공개 읽기 / 관리자만 쓰기)
    match /siteData/{document=**} {
      allow read: if true;
      allow write: if request.auth != null; // 관리자 인증 필요
    }
    
    // 가입 신청서 (누구나 생성 가능 / 관리자만 읽기, 수정, 삭제)
    match /applications/{document=**} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }
  }
}
